<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>41822825360-t3cffv959qr1993i492k67ralrava9jh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41822825360-t3cffv959qr1993i492k67ralrava9jh</string>
	<key>API_KEY</key>
	<string>AIzaSyB9el7wZnOigwfpSHHefcK2wPkB9U7nlew</string>
	<key>GCM_SENDER_ID</key>
	<string>41822825360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.playhard</string>
	<key>PROJECT_ID</key>
	<string>playhard-2c8eb</string>
	<key>STORAGE_BUCKET</key>
	<string>playhard-2c8eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41822825360:ios:b444b2403f2c6759576115</string>
	<key>DATABASE_URL</key>
	<string>https://playhard-2c8eb.firebaseio.com</string>
</dict>
</plist>